@tailwind base;
@tailwind components;
@tailwind utilities;

.new-modal-box {
    @apply modal-box;
    max-width: 70rem;
}

.rbc-event-content {
    font-size: 12px;
}

.rbc-toolbar-label {
    font-size: 24px;
    font-weight: bold;
}